<table class="table table-bordered">
  <tr>
    <th>Number of Products</th>
    <th>Number of categories</th>
  </tr>
  <tr>
    <th><%= @num_products%></th>
    <th><%= @num_categories %></th>
  </tr>
</table>

